@page
@model MedalRunner.Pages.Admin_pages.DeleteDungeonModel
@{
}

<h1>Delete Confirmation></h1>

<div class="alert alert-danger">

    <h5>Are you sure you want to delete Dungeon - @Model.Dungeon.Name</h5>

    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Admin/Dungeon/Index">No</a>
    </form>
</div>