@page "{Id : int}"
@model MedalRunner.Pages.Admin_pages.Dungeon.UpdateDungeonModel
@{
}

<h1>Edit Dungeon</h1>



<form method="post">
    <input type="hidden" asp-for="Dungeon.Id" />

    <div class="form-group">
        <label asp-for="Dungeon.Name"></label>
        <input asp-for="Dungeon.Name" class="form-control" />
        <span asp-validation-for="Dungeon.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Zone"></label>
        <input asp-for="Dungeon.Zone" class="form-control" />
        <span asp-validation-for="Dungeon.Zone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Description"></label>
        <textarea asp-for="Dungeon.Description" class="form-control"></textarea>
        <span asp-validation-for="Dungeon.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.ImageUrl"></label>
        <input asp-for="Dungeon.ImageUrl" class="form-control" />
        <span asp-validation-for="Dungeon.ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.DungeonMapUrl"></label>
        <input asp-for="Dungeon.DungeonMapUrl" class="form-control" />
        <span asp-validation-for="Dungeon.DungeonMapUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Platinum"></label>
        <input asp-for="Dungeon.Platinum" class="form-control" />
        <span asp-validation-for="Dungeon.Platinum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Gold"></label>
        <input asp-for="Dungeon.Gold" class="form-control" />
        <span asp-validation-for="Dungeon.Gold" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Silver"></label>
        <input asp-for="Dungeon.Silver" class="form-control" />
        <span asp-validation-for="Dungeon.Silver" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.Bronze"></label>
        <input asp-for="Dungeon.Bronze" class="form-control" />
        <span asp-validation-for="Dungeon.Bronze" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dungeon.MobAmount"></label>
        <input asp-for="Dungeon.MobAmount" class="form-control" />
        <span asp-validation-for="Dungeon.MobAmount" class="text-danger"></span>
    </div>

    <div class=form-group>
        <lable class="control-label">Boss 1</lable>
        <input name="BossNames[0]" class="form-control" />
    </div>
    <div class=form-group>
        <lable class="control-label">Boss 1</lable>
        <input name="BossNames[1]" class="form-control" />
    </div>
    <div class=form-group>
        <lable class="control-label">Boss 1</lable>
        <input name="BossNames[2]" class="form-control" />
    </div>
    <div class=form-group>
        <lable class="control-label">Boss 1</lable>
        <input name="BossNames[3]" class="form-control" />
    </div>
    <div class=form-group>
        <lable class="control-label">Boss 1</lable>
        <input name="BossNames[4]" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>