<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Frontpage"] - MedalRunner</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/public/layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="">
            <div class="nav-container">
                <div class="left-nav-container">
                    <a class="" asp-area="" asp-page="/Index"><img class="nav-logo" src="https://cdn.jsdelivr.net/gh/ddnoergaard/mop-assets@main/general/nav-logo.png" alt=""></a>
                </div>
                <div class="center-nav-container">
                    <ul class="nav-item-container">
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Admin/Item/Index">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Dungeons/Index">Dungeons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Scoreboard">Scoreboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Pricing">Prices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/About-us">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
                    <div class="nav-btn-container">
                        <a class="login-btn" asp-page="/Login" asp-area="">Login</a>
                        <a class="register-btn" asp-page="/Register" asp-area="">Registrer</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <img class="footer-img" src="/content/public/nav-logo.png" alt="">
                <p>MedalRunner ApS</p>
                <p><a href="tel:+45 12 34 56 78">+45 12 34 56 78</a></p>
                <p><a href="mailto:contact@medalrunner.dk">contact@medalrunner.dk</a></p>
            </div>
            <div class="footer-mid">
                <ul class="footer-mid-ul">
                    <li class="nav-item"><a asp-page="" asp-area="">Home</a></li>
                    <li class="nav-item"><a asp-page="" asp-area="">Items</a></li>
                    <li class="nav-item"><a asp-page="" asp-area="">Dungeons</a></li>
                    <li class="nav-item"><a asp-page="" asp-area="">Prices</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            &copy; 2026 - MedalRunner - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
