@page "{id:int}"
@model MedalRunner.Pages.App.Character.DeleteModel
@{
}

<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete the character - @Model.Character.Name</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="Index">No</a>
	</form>
</div>