@page
@model MedalRunner.Pages.App.Character.IndexModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/public/specficDungeon.css" />
}

@using MedalRunner.Models;
@using MedalRunner.Services;

<h1>Characters</h1>

@foreach (Character character in Model._characters)
{
    <div class="container">
        <div>
            <img src="ImageUrl">
        </div>

        <div class="text-column border-column">
            <p>@character.Name</p>
            <p>@character.Race</p>
            <p>@character.Specialization</p>
            <p>@character.CharacterClass</p>
        </div>
        <div>
            <a class="btn btn-danger btn-sm" type="button" title="Edit" asp-page="Edit" asp-route-id="Charachter.Id">Edit</a>
            <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="Delete" asp-route-id="Character.Id">Delete</a>
        </div>
    </div>
}

<p>
    <a class="btn btn-danger" asp-page="Create">Create a new Character</a>
</p>

<div class="characters-container">
    <div class="left">
        <h1>Choose your character</h1>
        <p>Select one of your characters to view gear recommendations, track your Challenge Mode runs, and compare your setup against the best times on the leaderboard.</p>
        <p>New characters can be created from the panel on the right.</p>
    </div>
    <div class="right">
        <div class="char-card">
            <div class="char-card-one">
                <p>Character name</p>
                <p>Paladin</p>
            </div>
            <div class="char-card-two">
                <p>Level 90</p>
                <a asp-page="/Character/Details">Log in</a>
            </div>
        </div>
        <div class="char-create">
            <a asp-page="/Character/Create" asp-route-id="">+</a>
        </div>
    </div>
</div>