table, th, td {
    text-align: center;
    width: auto;
    background-color: darkseagreen;
}

th, td {
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    
    background-color: white;
}

div.tablecontainer {
    overflow-x: auto;
}