@page
@model MedalRunner.Pages.PricesModel
@{
}

@section Styles {
    <link href="/css/public/price.css" rel="stylesheet" />
}

<div class="pricing-container">
    <div class="top-container">
        <h1>PRICING TIERS</h1>
        <p>Choose the plan that fits your adventure. <br><br>All plans include access to core features, with higher tiers unlocking more tools and possibilities. Upgrade, downgrade, or cancel at any time</p>
    </div>
    <div class="bottom-container">
        <div class="pc-container">
            <div class="pricing-card pc-free">
                <div class="p-c-top">
                    <h2 class="dark-text p-c-h">Free</h2>
                    <p class="dark-text price"><span>€</span>X</p>
                </div>
                <div class="p-c-bottom">
                    <p class="dark-text">FEATURES</p>
                    <ul>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                    </ul>
                </div>
            </div>
            <a class="cta-btn" asp-page="/Register">Try out</a>
        </div>

        <div class="pc-container">
            <div class="pricing-card pc-premium">
                <div class="p-c-top">
                    <h2 class="dark-text p-c-a">Premium</h2>
                    <p class="dark-text price"><span>€</span>X</p>
                </div>
                <div class="p-c-bottom">
                    <p class="dark-text">FEATURES</p>
                    <ul>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                    </ul>
                </div>
            </div>
            <a class="cta-btn" asp-page="/Register">Get serious</a>
        </div>

        <div class="pc-container">
            <div class="pricing-card pc-challenger">
                <div class="p-c-top">
                    <h2 class="dark-text p-c-g">Challenger</h2>
                    <p class="dark-text price">X</p>
                </div>
                <div class="p-c-bottom">
                    <p class="dark-text">FEATURES</p>
                    <ul>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                        <li class="dark-text">Placeholer</li>
                    </ul>
                </div>
            </div>
            <a class="cta-btn" asp-page="/Register">CHALLENGE!</a>
        </div>

    </div>
</div>