@page
@model MedalRunner.Pages.Public_pages.Dungeons.IndexModel
@{
}
@using MedalRunner.Models;
@using MedalRunner.Services;

<h1>Dungeons</h1>

@foreach (Dungeon dungeon in Model._dungeons)
{
    <div class="container">
        <div>
            <img src="ImageUrl">
        </div>

        <div class="text-column border-column">
            <p>@dungeon.Name</p>
            <p>@dungeon.Description</p>
            <p>@dungeon.Zone</p>
        </div>
        <div class="double-container">
            <div class="text-column">
                <h3>Boss list</h3>
                <ul>
                    <li>Insert boss</li>
                </ul>
            </div>
            <div class="align-btn">
                <btn>See more</btn>
            </div>
        </div>
    </div>
}


